.mainlink:hover {
  cursor: pointer;
}

.subtitle span {
  margin-right: 20px;
  font-weight: bold;
  float: right;
}

.subcontent svg,
.subcontent span {
  float: left;
}

.subcontent svg {
  margin-right: 5px;
}

.titleValue {
  margin-right: 5px;
}



/* responsive */
@media screen and (max-width: 576px) {
  .subtitle span {
    margin-right: 20px;
    font-weight: bold;
    font-size: 10px;
  }

  .subcontent svg,
  .subcontent span {
    font-size: 10px;
  }
}